.bg-dark {
    background-color: #1b5e20 !important;
}

.navbar {
	padding: 0px !important	;
}

#exampleAccordion {
    height: 100% !important;
    min-height: 90vh;
    background-color: #388e3c !important;
    padding-top: 66px !important;
    margin-top: 66px !important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #fff !important;
}

#mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
     padding: 5px !important; 
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #fff !important	;
}

.content-wrapper {
    background-color: #eee !important;
}

.breadcrumb {
    display: -ms-flexbox!important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    padding: 10px !important;
    margin-bottom: 1rem !important;
    list-style: none!important;
    background-color: #fff!important;
    border-radius: .25rem !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #ddd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #1b5e20 !important	;
}

#mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
     padding-left: 5px !important; 
}

#mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
     padding: 5px !important; 
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: #fff !important;
}

#mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 100% !important;
    padding: 0 !important;
}

.nav-link {
    padding-left: 15px;
}

.nav-sub-link {
    margin-left: 31px;
}

.sidenav-second-level .divider-vertical {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}

.navbar-dark .navbar-nav .nav-logout {
    color: #fff !important;
    margin-top: 0px !important;
    margin-right: 18px !important;
}

.navbar-dark .navbar-nav .nav-logout a {
    color: #fff !important;
    margin-top: 0px !important;
    margin-right: 18px !important;
}

.navbar-brand {
    padding: 5px;
    margin-left: 17px;
    margin-top: 5px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #1b5e20;
}

.icon-bar {
    background-color: #1b5e20;
}