.small_user {
	display: none;
}

@media screen and (max-width: 1920px) {

	.small_user {
		display: none;
	}

	/*DASHBOARD*/
	.dashboard_card{
		margin-top: 20px;
	}
	.dashboard_img{
		padding: 30px;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	}

	#dashboard-div {
	    margin-top: -25px;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li, #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li {
    	width: 100% !important;
	}
	
}	
@media screen and (max-width: 1024px) { 

	/*DASHBOARD*/
	.dashboard_card{
		height: 200px;
		margin-top: 20px;
	}

	.dashboard_img {
	    padding: 30px;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    height: 150px;
	    top: 20px;
	}

	.dashboard-font {
	    font-size: 18pt;
	    padding: 20px;
	    margin: 40px 0px;
	    color: #fff;
	}

	.li-action {
	    display: inline;
	    list-style-type: none;
	    float: none;
	}

	.col-login {
	    width: 50%;
	}

	/*LOGIN*/
	.login-container {
	    margin: 0 auto;
	    width: 100%;
	    padding-top: 10%;
	}

	.login-form {
	    background: rgba(255,255,255,0.6);
	    /* padding: 20px; */
	    border-top: 0;
	}

	.login-inside {
	    width: 80%;
	    margin: auto;
	    padding: 0px;
	    padding-top: 8%;
	    padding-bottom: 8%;
	}

	#login-div {
	    text-align: -webkit-center;
	    background: #388e3c;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li, #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li {
    	width: 100% !important;
	}


}

/*@media only screen and (max-width: 768px) and (min-width: 768px) {


	#content_gmp {
	    background: #eee;
	    height: auto;
	    min-height: 700px;
	    padding: 1%;
	    width: 100%;
	}

	.navbar-header {
		display: block;
	}

	.large_user {
		display: none;
	}

	.small_user {
		display: block;
	}

	.collapse {
		display: block;
	}
}
*/
@media screen and (max-width: 768px) {	

	.small_user {
		display: block;
	}

	.li-action {
	    display: inline;
	    list-style-type: none;
	    padding-right: 5px;
	    float: none;
	}

	.col-login {
	    width: 70%;
	}

	/*LOGIN*/
	.login-container {
	    margin: 0 auto;
	    width: 100%;
	    padding-top: 10%;
	}

	.login-form {
	    background: rgba(255,255,255,0.6);
	    /* padding: 20px; */
	    border-top: 0;
	}

	.login-inside {
	    width: 80%;
	    margin: auto;
	    padding: 0px;
	    padding-top: 8%;
	    padding-bottom: 8%;
	}

	#login-div {
	    text-align: -webkit-center;
	    background: #388e3c;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.navbar-toggle {
	    margin-right: -193px;
	}

	.sidebar-nav {
	    background: #4594cd;
	    height: auto;
	}

	.navbar-toggle {
	    position: relative;
	    float: left;
	    padding: 9px 10px;
	    margin-top: 8px;
	    margin-left: 15px;
	    margin-bottom: 8px;
	    background-color: transparent;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}

	.main-menu {
	    margin-top: 0px;
	    margin-bottom: 0px;
	    padding-top: 0px;
	}

	.breadcrumb {
	    padding: 8px 15px;
	    margin-bottom: 20px;
	    margin-top: 10px;
	    list-style: none;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	}

	.navbar-brand {
	    float: right;
	    height: 50px;
	    padding: 15px 15px;
	    line-height: 20px;
	    font-size: 12px;
	    margin-right: -200px;
	}

	.navbar {
	    margin-bottom: 0px;
	    border: 0px solid transparent;
	}

	#exampleAccordion {
	    height: 100% !important;
	    min-height: auto;
	    background-color: #388e3c !important;
	    padding-top: 0px !important;
	    margin-top: 0px !important;
	}

	#mainNav .navbar-collapse {
	    overflow: hidden; 
	}

	.navbar-collapse.in {
	     overflow-y: hidden; 
	}
	
	#mainNav .navbar-collapse {
	    overflow: hidden;
	    max-height: 1000px !important;
	}

}


@media screen and (max-width: 640px) { 

	#login-div {
	    text-align: -webkit-center;
	    background: #388e3c;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	} 

	.col-login {
	    width: 70%;
	}

	.main-menu {
	    background: #388e3c;
	    padding-top: 0;
	}

	.sidebar-nav {
	    background: #4594cd;
	    height: auto;
	}

	.navbar-toggle {
	    position: relative;
	    float: left;
	    padding: 9px 10px;
	    margin-top: 8px;
	    margin-left: 15px;
	    margin-bottom: 8px;
	    background-color: transparent;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}

	.main-menu {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	.breadcrumb {
	    padding: 8px 15px;
	    margin-bottom: 20px;
	    margin-top: 10px;
	    list-style: none;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	}

	.filtering-div {
	    float: none;
	}

	.li-action {
	    display: inline;
	    list-style-type: none;
	    padding-right: 5px;
	    float: none;
	}

	.table {
	   margin-top: 0px;	
	}
	.table-responsive {
	    width: 98.5%;
	}

	.pager_number {
		display: none;
	}

	.bg-white {
	    background: #fff;
	    padding: 0px;
	}

	.navbar-default .navbar-toggle {
	 	border-color: transparent;
	}
	.user_large {
		display: none;
	}

	.navbar-brand {
	    float: right;
	    height: 50px;
	    padding: 15px 15px;
	    line-height: 20px;
	    font-size: 12px;
	    margin-right: 0px;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	}

	.add {
	    width: 100%;
	    margin-bottom: 5px;
	}


	/*LOGIN*/
	.login-container {
	    margin: 0 auto;
	    width: 100%;
	    padding-top: 10%;
	}

	.login-inside {
	    width: 100%;
	    margin: auto;
	    padding: 8%;
	}

	/*DASHBOARD*/
	.head_content {
	    color: darkgray;
	    display: none;
	}

	.dashboard_card {
	    height: 150px;
	    margin-top: -20px;
	}

	.dashboard_img {
	    padding: 30px;
	    position: absolute;
	    top: 0px;
	    right: -20px;
	    width: 150px;
	    height: 150px;
	}

	.dashboard-font {
	    font-size: 17pt;
	    padding: 25px 0px;
	    margin: 40px 0px;
	    color: #fff;
	}


	/*DM AUDITOR*/
	.menu-btn {
	    text-align: right;
	    margin-right: 5px;
	    margin-bottom: 5px;
	    padding-bottom: 1%;
	}


	/*PRODUCT TYPE*/
	.remove_ico {
	    font-size: 12pt;
	    color: #de0000;
	}

	.remove_cat {
	    text-align: right;
	    font-size: 10pt;
	    padding-top: 3px;
	    cursor: pointer;
	}

	.remove_br {
		display: none;
	}

	.remove_text {
	    font-size: 10pt;
	}

	.th-bg {
	    background: #ddd;
	    border: 1px solid #fff;
	    display: none;
	}

	/*MANAGE TEMPLATE*/

	.man_temp_search {
	    margin-bottom: 10px;
	    margin-top: 10px;
	}

	.man_temp_filter {
	    margin-bottom: 10px;
	}

	.add-template-body {
	    margin-left: 0px;
	    padding: 0px;
	    /* padding-left: 10px; */
	}

	.content-container {
	    width: 100%;
	    padding: 0px;
	}

	.col-md-12.pad-5 {
	    padding-bottom: 5px;
	    padding-left: 0px;
	    padding-right: 0px;
	}

	.navbar {
	    margin-bottom: 0px;
	    border: 0px solid transparent;
	}

	#exampleAccordion {
	    height: 100% !important;
	    min-height: auto;
	    background-color: #388e3c !important;
	    padding-top: 0px !important;
	    margin-top: 0px !important;
	}

	#mainNav .navbar-collapse {
	    overflow: hidden; 
	}

	.navbar-collapse.in {
	     overflow-y: hidden; 
	}
	
	#mainNav .navbar-collapse {
	    overflow: hidden;
	    max-height: 1000px !important;
	}

}