

/* Start of login */

body {
        background: #388e3c;
}


#login-div {
    background: #388e3c;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

img.menu-icon{
    width: 25px;
    height: 25px;
    margin-right:5px;
}

.logon-title {

    color: #5a95d9;

    font-weight: bold;

    text-align: center;

}



.input-login {

  border: 2px solid #5a95d9;

}

.pad-0 {

	padding: 0px !important;

}

.login-form {
    background: rgba(255,255,255,0.6);
    padding: 20px;
    border-top: 0;
}

.login-inside {

	width: 80%;

    margin: auto;

    padding: 8%;

}

/* End of login */



.main-menu-child {
    background: #388e3c;
    border: 0px;
    box-shadow: none;
    /* display: none; */
    width: 100%;
}

/*tek sep202017*/
.dropdown-menu>li>a{
    margin-left: 20px;
}
html {
<<<<<<< HEAD
    background: #007a00;
=======
    background: #388e3c;
>>>>>>> New_Master
}
.dashboard-font{
    font-size: 20pt; 
    padding: 20px;
    margin: 40px 0px;
    color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #388e3c;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #66bb6a;
}

.arrowsprite {
    width:0px;      
    height:0px;      
    border-left:10px solid transparent;     
    border-right:10px solid #eee;     
    border-top:10px solid transparent;     
    border-bottom:10px solid transparent;  
    top: 6px;
    right: 0px;  
    font-size:0px;     
    line-height:0px;    
    position:relative;
    display:none;
}

.active-main-menu .arrowsprite {
    display: inline-block;
    float: right;
}