/* Start of header menu */

/*.navbar-menu,#header-dropdown {

	background: #71c1fe;

}

nav.navbar.navbar-default.navbar-menu a {

    color: #fff;

}

nav.navbar.navbar-default.navbar-menu a:focus {

    color: #fff;

}

nav.navbar.navbar-default.navbar-menu a:hover {

    background: transparent;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {

    background-color: transparent;

}





.navbar-collapse.collapse {

  display: block!important;

}



.navbar-nav>li, .navbar-nav {

  float: left !important;

}



.navbar-nav.navbar-right:last-child {

  margin-right: -15px !important;

}



.navbar-right {

  float: right!important;

}*/



.ques_val{
  height: 100px !important;
}

.mb5{
  margin-bottom: 5px;
}

.qtext{

  margin-left:5px;

}

ul.nav.navbar-nav.main-menu li a:hover{

  background:#66bb6a;

}

#main-header {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #1b5e20;
}

.gmp_logo {

	color: #fff;

    font-size: 15pt;

}

.btn-user, .btn-user:hover, .btn-user:focus {

	color: #fff !important;

    background-color: transparent !important;

    border-color: transparent !important;

    cursor: pointer;

}

/* End of header menu */





/* make sidebar nav vertical */ 

@media (min-width: 768px) {

  .sidebar-nav .navbar .navbar-collapse {

    padding: 0;

    max-height: none;

  }

  .sidebar-nav .navbar > ul {

    float: none;

    display: block;

  }



  .sidebar-nav .navbar ul {

    float: none;

  }



  .sidebar-nav .navbar li {

    float: none;

    display: block;

  }

  .sidebar-nav .navbar li a {

    padding-top: 5px;

    padding-bottom: 5px;

  }

}



/* End of vertical menu */



/* Start of main menu */

.main-menu {
    background: #388e3c;
    padding-top: 70px;
    height: 100%;
}



ul.nav.navbar-nav.main-menu li.active-main-menu a {
    display: inline-block;
    color: #fff;

}
ul.nav.navbar-nav.main-menu li a {
    color: #fff;

}

.sidebar-nav {
    background: #388e3c;
    height: auto;
}

#main-menu-nav {

	border: 0px !important;

	margin-bottom: 0px;

}

.active-main-menu {
    background: #66bb6a;
}

/* End of main menu */











/* Start of login */



.err-msg {

  border-color: red !important;

}





.login-container {

    margin: 0 auto;

    width:30%;

    padding-top: 10%;

}

.error {

  color: red;

  font-size: 8pt;

}

/* End of login */



/* Start of dashboard */

.header-dash{

    padding-top: 20px;

    padding-bottom: 20px;

    border-bottom-width: 3px;

    margin-top: 20px;

    margin-bottom: 20px;

    margin-left: 20px;

    border-right-width: 20px;

    margin-right: 20px;





}

.container-body{

  background-color: #c7c2c2;

  padding-left: 0px;

  padding-right: 0px;

}

.glyphicon.glyphicon-list-alt {
    font-size: 30px;
}

.head-home{

    padding-top: 20px;

    padding-bottom: 20px;

    border-bottom-width: 3px;

    margin-top: 20px;

    margin-bottom: 20px;

    margin-left: 20px;

    border-right-width: 20px;

    margin-right: 20px;

    background-color: #ffffff;

}

.glyphicon.glyphicon-home{

    font-size: 20px;

}

.content-one{

    padding-top: 20px;

    padding-bottom: 20px;

    border-bottom-width: 3px;

}

.content-two{

    padding-top: 20px;

    padding-bottom: 20px;

    border-bottom-width: 3px;



}

/* end of dashboard */



/*start of manage template*/

.head-template{

    padding-top: 20px;

    padding-bottom: 20px;

    border-bottom-width: 3px;

    margin-top: 20px;

    margin-bottom: 20px;

    margin-left: 20px;

    border-right-width: 20px;

    margin-right: 20px;

    background-color: #ffffff;

}

.glyphicon.glyphicon-align-justify{



    font-size: 20px;



}

.button-template{

  float: right;

}

.btn-template{

  padding-right: 0px;

  padding-left: 0px;

}

.txt-search{

 padding-right: 0px;

 padding-left: 0px

}

.container-template{

  padding-right: 0px;

}

.body-product{

  background-color: #5f5f5f;

  color: white;

  font-size: 20px;

}

.item-inside{

   font-size: 20px;

}

/* end of manage template */

/* start of add template */

.add-template{

  background-color: #5f5f5f;

  color: white;

  font-size: 20px;

  text-align: center;

}

.add-template-body{

  margin-left: 15px;

  /*padding-left: 0px;*/

  background-color: #ffffff;

  height: auto;

  padding-top: 10px;

/*  border-width: 2px;

  border-bottom-width:2px;

  border-bottom-color:#5f5f5f;

  border-bottom-style: solid;*/



}

.add-template-body-bottom{

  margin-left: 15px;

  padding-left: 0px;

  background-color: #ffffff;

  height: auto;

}

.product-type{

  margin-top: 20px;

  padding-top: 20px;

  padding-right: 20px;

  margin-right: 95px

}

.product-type2{

  margin-top: 20px;

  padding-top: 20px;

  padding-right: 20px;

  margin-right: 50px

}

.link{

  float: left;

}

/*.save, .add{

  float: right;

}*/

.add-activity{

  float: right;

}

.content_inside {

  padding: 2%;

}

.menu-title-head {

  font-size: 20pt;

  font-weight: bold;

}

.separator_content {

  border-top: 1px solid darkgray;

}

.head_content {
    color: darkgray;
    margin-top: 17px;
}

#content_gmp {

  background: #eee;

  height: auto;

  min-height: 700px;

  padding: 1%;

}

.sub_content {

  background: #fff;

  padding: 0.5%;

  margin-top: 1%;

  margin-bottom: 1%;

}

.padleft0 {

  padding-left: 0px;

}

.padright0 {

  padding-right: 0px;

}

#dashboard-div {
    margin-top: -25px;
}



/* end of template */



.pagination {

  text-align: center;

}

.action_list:hover {

  text-decoration: none;

}



.update, .article_list,.save {

  display: none;

}



.delete_data, .edit,.archive {

  cursor: pointer;

}

#form-content {

    background: #fff;

    padding-top: 2%;

    padding-bottom: 2%;

    height: auto;

}

.btn-select-image {

    margin-bottom: 1%;

}



.none, .er-msg {

  display: none;

  color: red;

  font-size: 8pt;

}

.col-md-12.pad-5 {

    padding-bottom: 5px;

}

.menu-btn {

  text-align: right;

  padding-top: 1%;

  padding-bottom: 1%;

}

button.inactive.btn-min.btn.btn-default.bold {

    float: left;

    margin-right: 3px;

}

/* start of template_add */

.content_inside{

  padding-left: 0px;

  padding-top: 0px;

  height: auto;



}

.container-template_add{

  background: #fff;

  padding: 2%;

}

.container-template{

  padding-left: 0px;

}

.add-template-body-bottom{

  margin-left: 0px;

  height: auto;

  margin-bottom: 15px;

}

#main-content{

  padding-left: 0px;

}

.add-template-body{

  margin-left: 0px;

  /*padding-left: 10px;*/

}

.template_action button{

  margin-left: 5px;

}



.ques_con{

    margin: 10px -10px;

    padding: 0px;

}

.removed{

    display: none;

}

/* end of template */



.bg-white{

  background: #fff;

  padding:15px;

}



.elem_div_preview_head{

  background: #ccc;

  padding:5px 15px;

  margin-bottom: 10px;

  font-weight: 700;

  text-transform: uppercase;

  /*color: #fff;*/

}

.view_template{

  cursor:pointer;

}





/*audit report view*/



.header{

  font-weight:700;

  text-align: center;

}



.audit-header{

  padding: 5px;

  background: #4594cd;

  font-weight: 700;

  color: #fff;

  margin-bottom: 5px;

}



.sub-header{
  padding: 5px;
  background: rgba(176, 208, 230, 0.61);
  margin-bottom: 5px;
  width: 100%;
}

.tbl_format thead{

  background: #cfe2f0;

}

.tbl_format td{

  padding:5px;

}

.tbl_format{

  width: 100%;

  font-size: 14px;

}

.mb15{

  margin-bottom: 15px;

}
.mb5{
  margin-bottom: 5px;
}
.Supplier-history{

  min-height: 150px !important;

  max-height: 200px !important;

  height: auto !important;

}

.th-bg{
  background: #ddd;
  border: 1px solid #fff;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {

  background-color: #dbdbdb;
  color: #4b4b4b;
}

table > tr > td > ul > li > a > span {
  color: #4b4b4b;
}

thead {
  background-color: #4b4b4b;
  color: #fff;
}
.action {
  color: #474747;
}

.breadcrumb > li > a  {
  color: #4b4b4b;
}

.table {
  margin-top: 10px;
  font-size: 15px;
}



.li-action
{
  display: inline;
  list-style-type: none;
  padding-left: 3px;
  float: none;
}

.filtering-div {
    float: right;
}

.remove_cat{
  text-align:center;
  font-size: 10pt;
  padding-top: 3px;
  cursor:pointer;
}

.remove_ico {
  font-size:18pt;
  color:#de0000;
}

.ul-action {
  text-align: right;
}


.table-responsive {
    padding: 0px !important;
    background: #fff;
    margin-top: 10px;
}

.table {
  margin-top: 0px !important;
}


.panel-default > .panel-heading {
    color: #333;
    background-color: #f6f5f5 !important;
    border-color: #ddd;
}

.form-horizontal .control-label {
    font-size: 12px !important;
}

.panel-footer {
    text-align: right;
}

.form-control:focus {
    border-color: #438e3c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgb(43, 94, 36);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgb(43, 94, 36);
}